<tr>
  <th scope="row">{{count index}}</th>
  <td>{{slot}}</td>
  <td>{{quantity}}</td>
  <td>{{user.username}}</td>
  <td>
    <a href="" class="btn btn-primary">Edit</a>
    <a href="" class="btn btn-danger">Delete</a>
  </td>
</tr>