<div class="flex-grow-1 d-flex">
  <div class="flex-grow-1 d-flex justify-content-center align-items-center">
  <div class="col-10 col-sm-9 col-md-6 col-lg-5 col-xl-4 p-5 bg-light rounded shadow">
    <form class="category-form">
      <!-- Email input -->
      <div class="form-outline mb-4">
        <h1>Add New Category</h1>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input type="text" id="category-name" placeholder="Name" class="form-control" />
      </div>
      <!-- Submit button -->
      <button type="submit" class="btn btn-primary col-12 mb-4">Submit</button>
    </form>
  </div>
</div>
</div>

<script src="/javascript/category.js"></script>