<!-- Content -->
<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-4 mb-2">
      <div class="card">
        <div class="card-header position-relative">
          <h3>Categories</h3>
          <!-- edit category button -->
          <a class="category position-absolute" href="/edit-category">
            <i class="fs-4 fa-solid fa-pen-to-square text-primary"></i>
          </a>
        </div>
        <ul class="list-group list-group-flush">
          {{#each categories as |category|}}
          {{> category-details category}}
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="col-12 col-lg-8 d-flex justify-content-center mb-3">
      <div class="card border">
        <div class="card-header position-relative">
          <h3>All Products</h3>
          <a class="product position-absolute" href="/edit-product">
            <i class="fs-4 fa-solid fa-pen-to-square text-primary"></i>
          </a>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Unit</th>
                <th scope="col">Inventory</th>
              </tr>
            </thead>
            <tbody>
                {{#each products as |product|}}
                {{> product-details product=product index=@index}}
                {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>