<div class="flex-grow-1 d-flex">
  <div class="flex-grow-1 d-flex justify-content-center align-items-center">
  <div class="col-10 col-sm-9 col-md-6 col-lg-5 col-xl-4 p-5 bg-light rounded shadow">
    <form class="login-form">
      <!-- Email input -->
      <div class="form-outline mb-4">
        <input type="email" id="email-login" placeholder="Email address" class="form-control" />
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input type="password" id="password-login" placeholder="Password" class="form-control" />
      </div>
      <!-- Submit button -->
      <button type="submit" class="btn btn-primary col-12 mb-4">Sign in</button>

      <!-- Demo Account -->
      <div class="form-outline text-center">
        <p class="fw-bold">Demo account Login</p>
        <p>Email: demo@example.com</p>  
        <p>Password: demo1234</p>
      </div>


      <!-- Register buttons -->
      <div class="text-center">
        <p>Don't have an account? <a href="/signup">Sign Up</a></p>
      </div>
    </form>
  </div>
</div>
</div>

<script src="/javascript/login.js"></script>