<!-- Background image -->
<div id="intro-example" class="flex-grow-1 d-flex justify-content-center align-items-center">

  <div class="mask d-flex justify-content-center align-items-center">
    <div class="welcome text-center">

      <div class="text-white">
        <h1 class="mb-3">Inventory Management System</h1>
        <h5 class="mb-4">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Necessitatibus, voluptatibus.
        </h5>
        <a
          class="btn btn-outline-light btn-lg m-2 fw-bold"
          href="/dashboard"
          role="button"
          rel="nofollow"
        >DASHBOARD</a>
      </div>
    </div>
  </div>
</div>
<!-- Background image -->